<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!--JDBC Database connection Settings-->
        <!--TODO: remove credentials-->
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/yourfoundsdb</property>
        <property name = "hibernate.connection.username">root</property>
        <property name = "hibernate.connection.password">root</property>

        <!--JDBC Connection pool settings-->
        <property name="connection.pool_size">5</property>

        <!--SQL dialect-->
        <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--Echo the SQL to stdout-->
        <property name = "show_sql">true</property>

        <mapping class = "com.yourfounds.entity.Expense" />
        <mapping class = "com.yourfounds.entity.Category" />
        <mapping class = "com.yourfounds.entity.Account" />
        <mapping class = "com.yourfounds.entity.User" />
    </session-factory>
</hibernate-configuration>